.navbar .container .brand {
  padding: 0px 20px 0px;
}
body {
  padding-top: 20px;
  padding-bottom: 40px;
}
.container-narrow {
  margin: 0 auto;
  max-width: 1000px;
}
.container-narrow > hr {
  margin: 15px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

#pkgstats .packages {
  margin: 60px 0;
}
.packages p + h4 {
  margin-top: 28px;
}
#pkgstats {
  width: 650px;
  margin: 20px auto;
}
.footer {
  text-align: right;
}
.category.alert {
  padding: 1px 10px 1px 10px;
}
.categories {
  overflow: auto;
}
.categories a {
  float: left;
  display: block;
  width: 20%;
}
.filtering {
  text-align: right;
}
#filtertxt {
  margin-bottom: 0px;
  width: 280px;
}
a.hidden {
  display: none;
}
ul.packages {
  list-style-image: url(cabal-logo.png);
}
